* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    text-decoration: none;
}

body {
    background-color: #141414;
    text-decoration: none;
}

/* HEADER */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-bottom: 2.5rem;
    background: linear-gradient(180deg, rgba(6, 6, 6, 1) 0%, rgba(20, 20, 20, 1) 100%);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-logo img {
    height: 90%;
    width: auto;
    object-fit: cover;
}

#search_input {
    display: flex;
    height: 1.5rem;
    color: #252324;
    background-color: #FFF;
    border: solid 1px rgba(255, 255, 255, 0.08);
    border-radius: 0.3rem;
    padding: 0rem 0.3rem;
    transition: all 0.2s ease;
}

#addMovie {
    display: flex;
    font-size: 25px;
    color: #B3B3B3;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#addMovie:hover {
    filter: brightness(140%);
}

/* SECTION */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 200%;
    margin: 0 150px;
}

/* CONTENT */
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.field {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.form_input {
    display: flex;
    width: 800px;
    height: 42px;
    color: #252324;
    background-color: #FFF;
    border: solid 1px rgba(255, 255, 255, 0.08);
    border-radius: 0.8rem;
    padding: 0rem 1rem;
    transition: all 0.2s ease;
    font-family: "Roboto", sans-serif;
}

label {
    display: flex;
    font-size: 1.2rem;
    color: #FFF;
}

#description {
    height: 15rem;
    padding-top: 1rem;
}

.add_button,
.add_btn_categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #FFF;
    width: 250px;
    height: 60px;
    background-color: #302F2C;
    padding: 0rem 1rem;
    border-radius: 1.1rem;
    border: solid 1px #EFEDE3;
    text-decoration: none;
    transition: all 0.6s ease;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-direction: row;
    width: 834px;
    padding: 2rem 0rem;
    gap: 0.5rem;
    overflow: auto;
    scrollbar-width: none;
    user-select: none;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    color: #FFF;
    background-color: transparent;
    border: solid 2px #FFF;
    border-radius: 1.5rem;
    padding: 0rem 2rem;
    transition: all 0.2s ease;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.selected{
    color: #141414;
    background-color: #FFF;
}

label,
#addMovie {
    font-family: "Roboto", sans-serif;
}

.squishy-btn {
    box-shadow: 0 8px 0 darker;
}

.squishy-btn:hover {
    transform: translateY(4px);
}